<div class="container">
  <p class="lead five text-center">Happy Hours... Happy People</p>
  <div class="jumbotron text-center">
    <div class="transbox">
      <h1 class="display-4">Charleston Happy Hours</h1>
      <hr class="my-4">
      <p class="find">Check Out What's Going On In The Chuck Today!</p>
        <%= link_to "Today", listings_index_path, class: 'btn btn-lg'%>
        <a class="btn btn-lg" href="#" role="button">Tomorrow</a></p>
    </div>
  </div>
  <div class="text-center">
    <h3>What's Happening this week?</h3>
  </div>
<!-- <nav class="navbar"> -->
<div class="text-center">
    <a href="#" class="btn btn-lg">Monday</a>
    <a href="#" class="btn btn-lg">Tuedsay</a>
    <a href="#" class="btn btn-lg">Wednesday</a>
    <a href="#" class="btn btn-lg">Thursday</a>
    <a href="#" class="btn btn-lg">Friday</a>
    <a href="#" class="btn btn-lg">Saturday</a>
    <a href="#" class="btn btn-lg">Sunday</a>
</div>
<!-- </nav> -->

  <div class="row text-center">
    <div>
      <h3>Featured Locations</h3>
    </div>
     <div class="col-md-4">
     </div>
     <div class="col-md-4">
     </div>
     <div class="col-md-4">
     </div>
   </div>
</div>
